@import "../../styles/main.scss";


.btnSection {
  flex-direction: row;
  margin-top: 30px;
}



.flexy {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-family:"DINNextW1G";
  // background-color: $second;
}

.text {
  font-size: 3rem;
  margin-bottom: 8rem;
  color: $second;
}

.container {
  color:$second;
}
.number {
    font-size:11rem;
    position:absolute;
    transform:translate(-50%,-50%);
    margin:0;
  
    &:nth-of-type(1){
      animation: range 4s infinite;
    }
    &:nth-of-type(2){
      left:50%;
      top:50%;
      animation: size 4s infinite;
    }
    &:nth-of-type(3){
      animation: range2 4s infinite;
    }
  }
  @keyframes range {
    0%  {left:42%;top:50%;font-size:11rem;}
    25% {left:50%;top:40%;font-size:3rem;}
    50% {left:58%;top:50%;font-size:11rem;}
    75% {left:50%;top:60%;font-size:3rem;}
    100%{left:42%;top:50%;font-size:11rem;}
  }
  @keyframes range2 {
    0%  {left:58%;top:50%;font-size:11rem;}
    25% {left:50%;top:60%;font-size:3rem;}
    50% {left:42%;top:50%;font-size:11rem;}
    75% {left:50%;top:40%;font-size:3rem;}
    100%{left:58%;top:50%;font-size:11rem;}
  }
  @keyframes size {
    0%  {font-size:11rem;}
    25% {font-size:27rem;}
    50% {font-size:11rem;}
    75% {font-size:27rem;}
    100%{font-size:11rem;}
  }