@import "../../styles/main.scss";


.Button {
    //height: $height;
    //width: $width;
    padding: 15px 30px;
    cursor: pointer;
    font-family: "DINNextW1G";  
    font-size: 16px;
    background-color: $primary;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
    //box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);;
    &:hover {
        background-color: $second  ;
    }
}   