@font-face {
    font-family: 'DINNextW1G';
    src: url(./fonts/DINNextW1G.otf) format('opentype');
}

@font-face {
    font-family: 'DINNextW1G';
    font-weight: bold;
    src: url(./fonts/DINNextW1G-Heavy.otf) format("opentype");
}